/* -------------------------------------------------------------------------- *\
    HELPERS
\* -------------------------------------------------------------------------- */
.no-margin{
    margin: 0 !important;
}

body{
    background: #e7e7e7;
}
.collapsible-body{
    background: #f7f7f7;
}

nav{
    width: 83%;
    margin-left: 17%;
}

.side-nav{
    z-index: 2 !important;
}

.side-nav.fixed a{
    padding-left: 10px !important; 
}


main{
    width: calc(100% - 240px);
    float: right;
    padding: 16px;
}



div#top-page{
    height: 200px;
    width: 100%;
    z-index: -9999;
    top: 0;
    position: absolute;
}
h3{
    padding: 16px 0;
}

h3 a.btn{
    font-size: 14.5px !important;
    line-height: 46px;
    height: 46px;
}
h5 a.btn{
    font-size: 10px !important;
    line-height: 26px;
    height: 26px;
    padding: 0 1.5rem !important;
}

span.status{
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    line-height: 77px;
}

h5#tarefa a{
    padding: 20px !important;
    line-height: 5px !important;
}

h1.title-modal {
    font-size: 25px !important;
    display: inline;    
}

.icon-close-modal{
    font-size: 20px !important;
}

#aplicar-vacina-modal,
#details-modal,
#newPedido.modal{
    top: 6% !important; 
    max-height: 87% !important; 
    width: 80% !important;
}

@media only screen and (max-width: 600px){
    .modal-content {
        padding: 16px 0 0 0 !important;
    }
    .title-modal{
        padding: 0 0 0 20px;           
    }
    .icon-close-modal{
        padding-right: 10px !important;
    }
    
}

input {
    padding: 3px 5px !important;
    border-radius: 3px !important;
    border: 1px solid #ececec !important;
    height: 25px !important;
}
textarea {
    padding: 3px 5px !important;
    border-radius: 3px !important;
    border: 1px solid #ececec !important;
    min-height: 100px !important;
}



#toast-container{
    min-width: 40%;
    right: 30%;
}

.toast{
    float: none !important;
}
.toast-success{
    background-color: #009688 !important;
}

.toast-error{
    background-color: #f44336  !important;
}

.modal-footer a {
    margin-right: 16px !important;
    margin-bottom: 6px !important;
}

.visualizacao-animal a{
    color: white;
}
.visualizacao-animal .active{
    background: black !important;
    font-size: 20px;
}

.aba-animal .aba{
    padding: 5px 10px;
    color: white;
}